* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: darkblue;
    position: sticky;
    top:  0;
    padding: 1rem;
}
nav ul{
    text-align: center;
}
nav li {
    display: inline-block;
    margin: 0 0.5rem;
}
nav li a {
    text-decoration: none;
    background-color:  #eee;
    padding: 0.2rem 0.5rem;
    transition: 0.5s;
}
nav li a:hover{
    outline: solid 2px #fff;
    background-color: darkblue;
    color: white;
    border-radius: 0.5rem;
    transform: translate(0. -3px);
}
#titol1{
    border: solid 2px red;
    padding: 1rem;
    margin-top: 2rem;
    width: 70%;
    margin: 2rem auto;
    text-align: center;
    transition: all 1s;
}

#titol1:hover{
    border-color: #999;
    width: 95%;
    background-color: darkblue;
    color: white;
    border-radius: 2rem;
}
#titol2{
    border: solid 1px black;
    padding: 1rem;
    width: 65%;
    margin: 3rem auto;
    text-align: center;
    transition: 1s;
}
#titol2:hover{
    border-color: black;
    width: 95%;
    background-color: aqua;
    color: antiquewhite;
    border-radius: 2rem;
    transform: rotate(22deg);
}

#scroll{
    border: solid 1px deeppink;
    width: 90%;
    height: 1800px;
    text-align: center;
    margin: 0 auto;
    padding:1rem;
}
.producte{
    border: solid 1px blue;
    width: 31%;
    display: inline-block;
    text-align: center;
    height: 300px;
    margin: 0 0.5rem;
}